@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #4d3594;
  }
}

@layer components {
  .nav-list {
    @apply flex md:flex-row flex-col justify-center list-none gap-4 mx-auto;
  }

  .nav-link {
    @apply px-3 py-2 rounded-md transition-colors duration-200 hover:bg-purple-200 hover:text-[var(--color-primary)] cursor-pointer;
  }

  .social-link {
    @apply px-3 py-2 rounded-full transition-colors duration-200 hover:bg-purple-200;
  }

  .btns {
    @apply flex flex-col sm:flex-row gap-4 w-full mx-auto justify-center px-4;
  }

  .btn-primary {
    @apply bg-[var(--color-primary)]  px-6 py-3 w-full sm:w-auto   rounded-sm text-white  hover:bg-[#230e36] transition-colors duration-200;
  }

  .btn-secondary {
    @apply bg-white  px-6 py-3  rounded-sm w-full sm:w-auto  hover:bg-[#c6d3f5]  transition-colors duration-200;
  }

  .card {
    @apply p-5 rounded-lg;
  }

  .features-1-card {
    @apply p-5 rounded-lg bg-[#F2F2F2] xl:flex-row flex-col  flex xl:w-1/2 m-5  w-xs  ;
  }

  .features-2-card {
    @apply p-5 rounded-lg bg-[#F2F2F2] sm:w-sm w-xs mt-5;
  }

  .center {
    @apply flex flex-col items-center justify-center  text-center;
  }

  .exp-list {
    @apply flex text-left items-center gap-10 mb-5;
  }

  .icon-background {
    @apply bg-[#E2E3FD] p-3 rounded-full;
  }

  .form {
    @apply space-y-4  mx-auto p-6  border border-gray-300 rounded-2xl shadow-md md:w-2xl w-full;
  }

  .step-indicator {
    @apply absolute left-1/2 -translate-x-1/2 w-full flex justify-center pointer-events-none;
  }
}

@layer utilities {
  .hero-heading {
    @apply xl:text-8xl lg:text-7xl md:text-6xl sm:text-5xl text-4xl;
  }

  .heading {
    @apply text-[var(--color-primary)] bg-purple-200 px-3 py-1 rounded-full mb-5 font-semibold;
  }

  .sub-heading {
    @apply sm:text-4xl text-2xl font-black mb-1.5;
  }

  .card-heading {
    @apply  md:text-2xl text-xl font-semibold mt-5 mb-2.5;
  }

  .card-text {
    @apply text-[#757575] text-wrap;
  }

  .desc {
    @apply text-[#303030] text-base;
  }

  .submission-key {
    @apply font-semibold text-[#757575] text-lg;
  }

  .submission-value {
    @apply font-medium text-[#757575] text-base;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  border-bottom: 1px solid var(--Border-Default-Default, #d9d9d9);
}

.find-price {
  border: 1px solid var(--ui-border-color, #c3c6d4);
}

.card-border {
  border: 1px solid var(--Border-Default-Default, #d9d9d9);
}
